* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #bfbaba;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculator {
    width: 300px;
    height: 500px;
    background-color: #22252D;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

form input {
    width: 102%;
    height: 150px;
    background-color: #101112;
    border: none;
    outline: none;
    border-radius: 12px;
    color: #fff;
    font-size: 1rem;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* pointer-events: none; */

}

button {
    width: 60px;
    height: 50px;
    background-color: #101112;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    gap: 10px;

}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.operator {
    background-color: #F9A826;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */
}

.equal {
    background-color: #2657f9;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.clear {
    background-color: #f92626;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.number {
    background-color: #101112;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}